<header>
    <div class="logo">
        <a href="/"><img src="~/Data/img/logo.png"></a>
        <h1>ООО "ЭлитСтрой"</h1>
    </div>
    <div class="phones">
        <div>
            <img src="~/Data/img/phone.png">
            <p>999</p>
        </div>
        <div>
            <img src="~/Data/img/clock.png">
            <div>
                <p>
                    Пн - Пт 8.00 - 21.00<br />
                    Сб - Вс 10.00 - 18.00
                </p>
            </div>
        </div>
    </div>
</header>
