<div class="modal lightbox" onclick="Hide('.lightbox')">
    <div class="card mw-100">
        <div class="card-body p-1 w-100">
            <img id="lightbox_image" src="">
        </div>
    </div>
</div>